<html>
    <head>
    </head>
    <body>
        <div id="app">
             {{message}}
        </div>
        <div id="app2">
            <span v-bind:title="message">
                 Hover your mouse over me for a few seconds so see my dynamically bound title !
            </span>
        </div>
        <div id="app3">
            <span v-if="seen">
                Now You see Me
            </span>
        </div>
         <div id="app4">
            <ol>
                <li v-for="todo in todos">
                    {{todo.text}}
                </li>
            </ol>
         </div>
        <div id="app5">
            <p>{{message}}</p>
            <button v-on:click="reverseMessage">Reverse Message</button>
        </div>
        <script src="./js/vue.js"></script>
        <script>
            // App - 1
            var app = new Vue({
                                el   : '#app',
                                data : {
                                            message : 'Hello Vue!'
                                       }
                            });
            // App - 2
            var app2 = new Vue({
                                 el : '#app2',
                                 data : {
                                            message : 'You loaded this page one ' + new Date().toLocaleString() 
                                        }
                              });
            // App - 3
            var app3 = new Vue({
                                  el : '#app3',
                                  data : {
                                            seen : true
                                         }
                              });
            // App - 4
            var app4 = new Vue({
                                  el : '#app4',
                                  data : {
                                            todos : [
                                                        {text:'Learn Javascript'},
                                                        {text:'Learn Vue'},
                                                        {text:'Build something awesome'}
                                                    ]
                                         }
                            });
            // App - 5
            var app5 = new Vue({
                                  el : '#app5',
                                  data : {
                                            message : 'Hello World !'
                                         },
                                  methods : {
                                                reverseMessage : function(){
                                                    this.message = this.message.split('').reverse().join('')
                                                }
                                            }
                                         
                              })

        </script>
    </body>
</html>
